*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*---- Header Section ----*/
.header{
    min-height: 50vh;
    width: 100%;
    background-color: #ffff;
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    left: 95px;
}

/*The logo's css*/
nav img{
    position: absolute;
    width: 132px;
    height: 134px;
    left: 95px;
    top: 27px;
}

.nav-links{
    flex: 1;
    text-align: right;
    top: 55px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    top: 55px;
}

.nav-links ul li a{
    color: #333;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 55px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #EDAE0E;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    color: #333;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1{
    font-size: 72px;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

.text-box h1:hover{
    color: #EDAE0E;
    transition-delay: 0.5s;
    transition: 0.5s;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
}

.lm-btn {
    display: inline-block;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    padding: 15px 50px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius:  0em;
}

.lm-btn:hover {
    background: #333;
    border: 2px solid #333;
    color: #fff;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}



@media(max-width:700px){
    .text-box h1{
        font-size: 30px;
        letter-spacing: 5px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #333;
        height: 100vh;
        width: 200px;
        top: 0px;
        right: 0px;
        text-align: left;
        z-index: 2;
    }
}


/*---- Product Navigation Section----*/
.prod-nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
    text-align: Left;
    padding-top: 100px;

}
h1{
    font-size: 48px;
    font-weight: 600;
    color: #333;
}

p{
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.phone-prototype img{
    display: block;
    scale: fill;
    padding-left: 17%;
    align-self: center;
}

.phone-prototype h1{
    transform-origin: left;
}











































